// VARIABLES
// standard font size
$font-size: 15px;
$padding: 15px;

// colours
$colour-one: #124673;
$colour-two: #0477BF;
$colour-three: #F2A444;
$colour-four: #F2DFCE;
$colour-five: #F24C27;

// MIXINS
// :state styling 
@mixin focus($thick: 3px) {
  box-shadow: 0 0 0 $thick $colour-five;
}
@mixin hover() {
  background-color: $colour-three;
}
// Spacing
@mixin margin-bottom($margin: 20px) {
  margin-bottom: $margin;
}
@mixin margin-top($margin: 20px) {
  margin-top: $margin;
}
@mixin margin-left($margin: 20px) {
  margin-left: $margin;
}
@mixin margin-right($margin: 20px) {
  margin-right: $margin;
}
@mixin padding-bottom($padding: 20px) {
  padding-bottom: $padding;
}
@mixin padding-top($padding: 20px) {
  padding-top: $padding;
}
@mixin padding-left($padding: 20px) {
  padding-left: $padding;
}
@mixin padding-right($padding: 20px) {
  padding-right: $padding;
}
@mixin padding-all($padding: 10px) {
  padding: $padding;
}



// Headings
h1 {
  font-size: 2.5em;
  @include margin-bottom;
}
h2 {
  font-size: 2.0em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.0em;
}
h5 {
  font-size: 0.75em;
}
h6 {
  font-size: 0.5em;
}

.loading {
  @include padding-top;

}
.warning {
  @include padding-all;
  background-color: $colour-five;
  @include margin-top;
  color: $colour-four;
}