.option-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  @include margin-top;
  @include margin-bottom;

  .option {
    flex: 0 1 45%;
    background-color: $colour-two;
    color: black;
    padding: $padding;
    cursor: pointer;

    &:hover {
      @include hover;
    }
    &:focus {
      @include focus;
    }

  }
}

@media (max-width: $medium) {
  //  empty ruleset for the time being
    .option-container {
      flex-direction: column;
      .option {
        margin-top: 10px;
      }
    }
  }