
.link {
  color: white;
  text-decoration: none;
  @include padding-all();

  &.link-primary {
    background-color: $colour-two;
  }
  &:focus {
    @include focus();
  }
  &:hover {
    @include hover();
  }
}