#textarea {
  background-color: white;
  border: 1px solid black;
  height: 500px;
  color: black;
}

.synonym {
  height: 200px;
  width: 200px;
  background-color: blue;
  position: absolute;

  &:hover {
    display: block;
  }
}