/**
* Variables
*/

/**
* Mixins
*/

/**
* Style
*/


.btn {
  padding: $padding - 5;
  border: none;
}

.btn-primary {
  background-color: $colour-two;
  color: black;
  font-size: $font-size;

  &:focus {
    box-shadow: 0 0 0 3px $colour-five;
  }
  &:hover {
    background-color: $colour-three;
  }
}
.btn-extra {
  margin-left: $padding;
}