#textarea {
  background-color: #F2DFCE;
  border: 1px solid black;
  min-height: 500px;
  color: black;
  padding: 15px;
  line-height: 1.2;
  @include margin-bottom;
  @include margin-top(10px);

  &:focus {
    @include focus;
  }
}